---
name: "Helm - Generate Chart Documentation"
description: |
  Action to generate documentation for a Helm chart.
  It will generate the documentation in the `docs/` directory of the chart.
  Mainly using [losisin/helm-docs-github-action](https://github.com/losisin/helm-docs-github-action).
author: hoverkraft
branding:
  icon: book-open
  color: blue

inputs:
  working-directory:
    description: "Working directory"
    required: false
    default: "${{ github.workspace }}"
  values-file:
    description: |
      Path to the values file to use for generating the documentation.
      See <https://github.com/losisin/helm-values-schema-json-action>.
    required: false
  github-token:
    description: |
      GitHub Token to create and merge pull request.
      Permissions:
        - contents: write
        - pull-requests: write
    default: ${{ github.token }}
  github-app-id:
    description: |
      GitHub App ID to generate GitHub token in place of github-token.
      See <https://github.com/actions/create-github-app-token>.
    required: false
  github-app-key:
    description: |
      GitHub App private key to generate GitHub token in place of github-token.
      See <https://github.com/actions/create-github-app-token>.
    required: false

runs:
  using: "composite"
  steps:
    - id: prepare-variables
      uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
      with:
        script: |
          const { existsSync, realpathSync } = require('node:fs');
          const { basename, isAbsolute, join } = require('node:path');

          let workingDirectory = ${{ toJson(inputs.working-directory) }};
          if (!workingDirectory || !workingDirectory.length) {
            return core.setFailed("Input 'working-directory' is required.");
          }

          if (!existsSync(workingDirectory)) {
            return core.setFailed(`Working directory '${workingDirectory}' does not exist.`);
          }

          workingDirectory = realpathSync(workingDirectory);
          core.setOutput("working-directory", workingDirectory);
          core.setOutput("working-directory-name", basename(workingDirectory));

          let valuesFile = ${{ toJson(inputs.values-file) }};
          if (valuesFile && valuesFile.length) {
            if(isAbsolute(valuesFile)) {
              if (!existsSync(valuesFile)) {
                return core.setFailed(`The values file '${valuesFile}' does not exist.`);
              }
            } else {
              valuesFile = join(workingDirectory, valuesFile);
              if(!existsSync(valuesFile)) {
                return core.setFailed(`The values file '${valuesFile}' does not exist in the working directory '${workingDirectory}'.`);
              }
            }

            valuesFile = realpathSync(valuesFile);
            core.setOutput("values-file", valuesFile);
          }

    - uses: hoverkraft-tech/ci-github-common/actions/checkout@6857ef6d10f704e0998aa4955282f27d1b9be778 # 0.23.1

    - uses: losisin/helm-docs-github-action@178c1a8927bcd668d487395beda342ba270895b3 # v1.6.1
      with:
        chart-search-root: ${{ steps.prepare-variables.outputs.working-directory }}

    - if: ${{ steps.prepare-variables.outputs.values-file }}
      uses: losisin/helm-values-schema-json-action@28b1b33dcd9bd10bb8157627566f3971313a8872 # v2.0.4
      with:
        input: ${{ steps.prepare-variables.outputs.values-file }}
        working-directory: ${{ steps.prepare-variables.outputs.working-directory }}

    - name: Prettify code
      uses: creyD/prettier_action@8c18391fdc98ed0d884c6345f03975edac71b8f0 # v4.6
      with:
        prettier_options: --write ${{ steps.prepare-variables.outputs.working-directory }}/**/*.md ${{ steps.prepare-variables.outputs.values-file }}
        no_commit: true
        working_directory: ${{ steps.prepare-variables.outputs.working-directory }}
        clean_node_folder: true

    - uses: actions/create-github-app-token@df432ceedc7162793a195dd1713ff69aefc7379e # v2.0.6
      if: inputs.github-app-id
      id: generate-token
      with:
        app-id: ${{ inputs.github-app-id }}
        private-key: ${{ inputs.github-app-key }}

    - uses: hoverkraft-tech/ci-github-common/actions/create-and-merge-pull-request@6857ef6d10f704e0998aa4955282f27d1b9be778 # 0.23.1
      with:
        github-token: ${{ steps.generate-token.outputs.token || inputs.github-token }}
        branch: docs/update-helm-chart-docs-${{ steps.prepare-variables.outputs.working-directory-name }}
        title: "docs: update Helm chart documentation for ${{ steps.prepare-variables.outputs.working-directory-name }}"
        body: |
          This pull request updates the documentation for the Helm chart `${{ steps.prepare-variables.outputs.working-directory-name }}`.
        commit-message: |
          docs: update Helm chart documentation for ${{ steps.prepare-variables.outputs.working-directory-name }}

          [skip ci]
