---
name: "Helm - Generate Chart Documentation"
description: |
  Action to generate documentation for a Helm chart.
  It will generate the documentation in the `docs/` directory of the chart.
  Mainly using [losisin/helm-docs-github-action](https://github.com/losisin/helm-docs-github-action).
author: hoverkraft
branding:
  icon: book-open
  color: blue

inputs:
  working-directory:
    description: "Working directory"
    required: false
    default: "${{ github.workspace }}"
  values-file:
    description: |
      Path to the values file to use for generating the documentation.
      See https://github.com/losisin/helm-values-schema-json-action.
    required: false
  github-token:
    description: |
      GitHub Token to create and merge pull request.
      Permissions:
      - contents: write
      - pull-requests: write
    default: ${{ github.token }}
  github-app-id:
    description: |
      GitHub App ID to generate GitHub token in place of github-token.
      See https://github.com/actions/create-github-app-token.
    required: false
  github-app-key:
    description: |
      GitHub App private key to generate GitHub token in place of github-token.
      See https://github.com/actions/create-github-app-token.
    required: false

runs:
  using: "composite"
  steps:
    - id: prepare-variables
      uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
      with:
        script: |
          const { existsSync, realpathSync, writeFileSync } = require('node:fs');
          const { basename, isAbsolute, join } = require('node:path');

          let workingDirectory = ${{ toJson(inputs.working-directory) }};
          if (!workingDirectory || !workingDirectory.length) {
            return core.setFailed("Input 'working-directory' is required.");
          }

          if (!existsSync(workingDirectory)) {
            return core.setFailed(`Working directory '${workingDirectory}' does not exist.`);
          }

          workingDirectory = realpathSync(workingDirectory);
          core.setOutput("working-directory", workingDirectory);
          core.setOutput("working-directory-name", basename(workingDirectory));

          const filesPattern = join(workingDirectory, "**/*.md");;
          core.setOutput("files-pattern", filesPattern);

          let valuesFile = ${{ toJson(inputs.values-file) }};
          if (valuesFile && valuesFile.length) {
            if(isAbsolute(valuesFile)) {
              if (!existsSync(valuesFile)) {
                return core.setFailed(`The values file '${valuesFile}' does not exist.`);
              }
            } else {
              valuesFile = join(workingDirectory, valuesFile);
              if(!existsSync(valuesFile)) {
                return core.setFailed(`The values file '${valuesFile}' does not exist in the working directory '${workingDirectory}'.`);
              }
            }

            valuesFile = realpathSync(valuesFile);
            core.setOutput("values-file", valuesFile);
          }

          // Generate textlint cache path
          const textlintCachePath = join(process.env.RUNNER_TEMP, `.cache-textlint`);
          core.setOutput("textlint-cache-path", textlintCachePath);

          // Generate textlint config file if not exists
          let textlintConfigPath = join(workingDirectory, ".textlintrc");
          if (!existsSync(textlintConfigPath)) {
            textlintConfigPath = join(process.env.RUNNER_TEMP, `${Date.now()}.textlintrc`);
            const defaultConfig = {
              "filters": {
                "comments": true
              },
              "rules": {
                "terminology": true
              },
              "plugins": {
                "@textlint/markdown": true
              }
            };
            writeFileSync(textlintConfigPath, JSON.stringify(defaultConfig, null, 2));
          }
          core.setOutput("textlint-config-path", textlintConfigPath);

          // Generate prettier cache path
          const prettierCachePath = join(process.env.RUNNER_TEMP, `.cache-prettier`);
          core.setOutput("prettier-cache-path", prettierCachePath);

          // Generate markdownlint config file if not exists
          let markdownlintConfigPath = join(workingDirectory, ".markdownlint.json");
          if (!existsSync(markdownlintConfigPath)) {
            markdownlintConfigPath = join(process.env.RUNNER_TEMP, `${Date.now()}.markdownlint.json`);

            const defaultConfig = {
              "default": true,
              "line-length": false,
              "outputFormatters": [
                [
                  "markdownlint-cli2-formatter-template",
                  {
                    "template": "::${errorSeverity:${errorSeverity}}${errorSeverity!error} " +
                      "file=${fileName},line=${lineNumber},${columnNumber:col=${columnNumber},}title=${ruleName}::${ruleDescription}"
                  }
                ]
              ]
            };
            writeFileSync(markdownlintConfigPath, JSON.stringify(defaultConfig, null, 2));
          }
          core.setOutput("markdownlint-config-path", markdownlintConfigPath);

    - uses: hoverkraft-tech/ci-github-common/actions/checkout@b17226e57c8ef31f860719766656ebb6df017218 # 0.31.6

    - uses: losisin/helm-docs-github-action@6f957579ac122ecc167bf515fe84e828686c9a15 # v1.7.1
      with:
        chart-search-root: ${{ steps.prepare-variables.outputs.working-directory }}

    - if: ${{ steps.prepare-variables.outputs.values-file }}
      uses: losisin/helm-values-schema-json-action@b0c5e688b224ce7c36fcf005184f1105850d8f3b # v2.4.1
      with:
        values: ${{ steps.prepare-variables.outputs.values-file }}
        working-directory: ${{ steps.prepare-variables.outputs.working-directory }}

    - name: Setup Node.js
      uses: hoverkraft-tech/ci-github-nodejs/actions/setup-node@c9d9d041ba4ef35695ee469c4782fa6a8bbebbcc # 0.21.2
      with:
        working-directory: ${{ github.action_path }}

    - name: Cache textlint
      id: cache-textlint
      uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
      with:
        path: ${{ steps.prepare-variables.outputs.textlint-cache-path }}
        key: ${{ runner.os }}-textlint-${{ hashFiles(steps.prepare-variables.outputs.textlint-config-path) }}

    - name: Text lint and fix files
      uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
      env:
        NODE_PATH: ${{ github.action_path }}/node_modules
        WORKING_DIRECTORY: ${{ steps.prepare-variables.outputs.working-directory }}
        FILES_PATTERN: ${{ steps.prepare-variables.outputs.files-pattern }}
        CACHE_PATH: ${{ steps.prepare-variables.outputs.textlint-cache-path }}
        CONFIG_PATH: ${{ steps.prepare-variables.outputs.textlint-config-path }}
      with:
        script: |
          await exec.exec('npx', [
            'textlint',
            '--cache-location', process.env.CACHE_PATH,
            '--fix',
            '--config', process.env.CONFIG_PATH,
            process.env.FILES_PATTERN,
          ], {
            cwd: process.env.WORKING_DIRECTORY,
          });

    - name: Lint Fix markdown files
      uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
      env:
        NODE_PATH: ${{ github.action_path }}/node_modules
        WORKING_DIRECTORY: ${{ steps.prepare-variables.outputs.working-directory }}
        FILES_PATTERN: ${{ steps.prepare-variables.outputs.files-pattern }}
        CONFIG_PATH: ${{ steps.prepare-variables.outputs.markdownlint-config-path }}
      with:
        script: |
          await exec.exec('npx', [
            'markdownlint-cli2',
            '--fix',
            '--config', process.env.CONFIG_PATH,
            process.env.FILES_PATTERN,
          ], {
            cwd: process.env.WORKING_DIRECTORY,
            ignoreReturnCode: true,
          });

    - name: Cache prettier
      id: cache-prettier
      uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
      with:
        path: ${{ steps.prepare-variables.outputs.prettier-cache-path }}
        key: ${{ runner.os }}-prettier

    - name: Prettify markdown and values file
      uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
      env:
        NODE_PATH: ${{ github.action_path }}/node_modules
        WORKING_DIRECTORY: ${{ steps.prepare-variables.outputs.working-directory }}
        CACHE_PATH: ${{ steps.prepare-variables.outputs.prettier-cache-path }}
        FILES_PATTERN: ${{ steps.prepare-variables.outputs.files-pattern }}
        VALUES_FILE: ${{ steps.prepare-variables.outputs.values-file }}
      with:
        script: |
          const args = [
            'prettier',
            '--cache-location', process.env.CACHE_PATH,
            '--write',
            process.env.FILES_PATTERN,
          ];

          if (process.env.VALUES_FILE) {
            args.push(process.env.VALUES_FILE);
          }

          await exec.exec('npx', args, {
            cwd: process.env.WORKING_DIRECTORY,
          });

    - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
      if: inputs.github-app-id
      id: generate-token
      with:
        app-id: ${{ inputs.github-app-id }}
        private-key: ${{ inputs.github-app-key }}

    - uses: hoverkraft-tech/ci-github-common/actions/create-and-merge-pull-request@b17226e57c8ef31f860719766656ebb6df017218 # 0.31.6
      with:
        github-token: ${{ steps.generate-token.outputs.token || inputs.github-token }}
        branch: docs/update-helm-chart-docs-${{ steps.prepare-variables.outputs.working-directory-name }}
        title: "docs: update Helm chart documentation for ${{ steps.prepare-variables.outputs.working-directory-name }}"
        body: |
          This pull request updates the documentation for the Helm chart `${{ steps.prepare-variables.outputs.working-directory-name }}`.
        commit-message: |
          docs: update Helm chart documentation for ${{ steps.prepare-variables.outputs.working-directory-name }}

          [skip ci]
