---
name: "Helm - Generate Chart Documentation"
description: |
  Action to generate documentation for a Helm chart.
  It will generate the documentation in the `docs/` directory of the chart.
  Mainly using [losisin/helm-docs-github-action](https://github.com/losisin/helm-docs-github-action).
author: hoverkraft
branding:
  icon: book-open
  color: blue

inputs:
  working-directory:
    description: "Working directory"
    required: false
    default: "${{ github.workspace }}"
  values-file:
    description: |
      Path to the values file to use for generating the documentation.
      See https://github.com/losisin/helm-values-schema-json-action.
    required: false
  github-token:
    description: |
      GitHub Token to create and merge pull request.
      Permissions:
      - contents: write
      - pull-requests: write
    default: ${{ github.token }}
  github-app-id:
    description: |
      GitHub App ID to generate GitHub token in place of github-token.
      See https://github.com/actions/create-github-app-token.
    required: false
  github-app-key:
    description: |
      GitHub App private key to generate GitHub token in place of github-token.
      See https://github.com/actions/create-github-app-token.
    required: false

runs:
  using: "composite"
  steps:
    - id: prepare-variables
      uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
      with:
        script: |
          const { existsSync, realpathSync, writeFileSync } = require('node:fs');
          const { basename, isAbsolute, join } = require('node:path');

          let workingDirectory = ${{ toJson(inputs.working-directory) }};
          if (!workingDirectory || !workingDirectory.length) {
            return core.setFailed("Input 'working-directory' is required.");
          }

          if (!existsSync(workingDirectory)) {
            return core.setFailed(`Working directory '${workingDirectory}' does not exist.`);
          }

          workingDirectory = realpathSync(workingDirectory);
          core.setOutput("working-directory", workingDirectory);
          core.setOutput("working-directory-name", basename(workingDirectory));

          let valuesFile = ${{ toJson(inputs.values-file) }};
          if (valuesFile && valuesFile.length) {
            if(isAbsolute(valuesFile)) {
              if (!existsSync(valuesFile)) {
                return core.setFailed(`The values file '${valuesFile}' does not exist.`);
              }
            } else {
              valuesFile = join(workingDirectory, valuesFile);
              if(!existsSync(valuesFile)) {
                return core.setFailed(`The values file '${valuesFile}' does not exist in the working directory '${workingDirectory}'.`);
              }
            }

            valuesFile = realpathSync(valuesFile);
            core.setOutput("values-file", valuesFile);
          }

          // Generate textlint config file if not exists
          let textlintConfigPath = join(workingDirectory, ".textlintrc");
          if (!existsSync(textlintConfigPath)) {
            textlintConfigPath = join(process.env.RUNNER_TEMP, `${Date.now()}.textlintrc`);
            const defaultConfig = {
              "filters": {
                "comments": true
              },
              "rules": {
                "terminology": true
              },
              "plugins": {
                "@textlint/markdown": true
              }
            };
            writeFileSync(textlintConfigPath, JSON.stringify(defaultConfig, null, 2));
          }
          core.setOutput("textlint-config-path", textlintConfigPath);

          // Generate markdownlint config file if not exists
          let markdownlintConfigPath = join(workingDirectory, ".markdownlint.json");
          if (!existsSync(markdownlintConfigPath)) {
            markdownlintConfigPath = join(process.env.RUNNER_TEMP, `${Date.now()}.markdownlint.json`);

            const defaultConfig = {
              "default": true,
              "line-length": false,
              "outputFormatters": [
                [
                  "markdownlint-cli2-formatter-template",
                  {
                    "template": "::${errorSeverity:${errorSeverity}}${errorSeverity!error} " +
                      "file=${fileName},line=${lineNumber},${columnNumber:col=${columnNumber},}title=${ruleName}::${ruleDescription}"
                  }
                ]
              ]
            };
            writeFileSync(markdownlintConfigPath, JSON.stringify(defaultConfig, null, 2));
          }
          core.setOutput("markdownlint-config-path", markdownlintConfigPath);

    - uses: hoverkraft-tech/ci-github-common/actions/checkout@5e8d0e6d1e76d8577a070db6d0128a91b1c9d5ad # 0.30.2

    - uses: losisin/helm-docs-github-action@a57fae5676e4c55a228ea654a1bcaec8dd3cf5b5 # v1.6.2
      with:
        chart-search-root: ${{ steps.prepare-variables.outputs.working-directory }}

    - if: ${{ steps.prepare-variables.outputs.values-file }}
      uses: losisin/helm-values-schema-json-action@660c441a4a507436a294fc55227e1df54aca5407 # v2.3.1
      with:
        input: ${{ steps.prepare-variables.outputs.values-file }}
        working-directory: ${{ steps.prepare-variables.outputs.working-directory }}

    - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0

    - id: npm-cache-dir
      shell: bash
      run: echo "dir=$(npm config get cache)" >> "$GITHUB_OUTPUT"

    - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      id: npm-cache
      with:
        path: ${{ steps.npm-cache-dir.outputs.dir }}
        key: ${{ runner.os }}-node-${{ github.run_id }}
        restore-keys: |
          ${{ runner.os }}-node-

    - shell: bash
      run: npm install -g prettier textlint @textlint/textlint-plugin-markdown textlint-filter-rule-comments textlint-rule-terminology

    - name: Cache textlint
      id: cache-textlint
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      with:
        path: ${{ runner.temp }}/.cache-textlint
        key: ${{ runner.os }}-textlint-${{ hashFiles(steps.prepare-variables.outputs.textlint-config-path) }}

    - name: Text lint and fix markdown files
      shell: bash
      working-directory: ${{ steps.prepare-variables.outputs.working-directory }}
      env:
        CACHE_PATH: ${{ runner.temp }}/.cache-textlint
        CONFIG_PATH: ${{ steps.prepare-variables.outputs.textlint-config-path }}
      run: npx textlint --cache-location "$CACHE_PATH" --fix --config "$CONFIG_PATH" "$(pwd)/**/*.md"

    - name: Cache prettier
      id: cache-prettier
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      with:
        path: ${{ runner.temp }}/.cache-prettier
        key: ${{ runner.os }}-prettier

    - name: Prettify markdown and values file
      shell: bash
      working-directory: ${{ steps.prepare-variables.outputs.working-directory }}
      env:
        CACHE_PATH: ${{ runner.temp }}/.cache-prettier
        VALUES_FILE: ${{ steps.prepare-variables.outputs.values-file || '' }}
      run: npx prettier --cache-location "$CACHE_PATH" --write "$(pwd)/**/*.md" $VALUES_FILE

    - name: Lint Fix markdown files
      uses: DavidAnson/markdownlint-cli2-action@30a0e04f1870d58f8d717450cc6134995f993c63 # v21.0.0
      with:
        fix: true
        config: ${{ steps.prepare-variables.outputs.markdownlint-config-path }}
        globs: ${{ steps.prepare-variables.outputs.working-directory }}/**/*.md

    - uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
      if: inputs.github-app-id
      id: generate-token
      with:
        app-id: ${{ inputs.github-app-id }}
        private-key: ${{ inputs.github-app-key }}

    - uses: hoverkraft-tech/ci-github-common/actions/create-and-merge-pull-request@5e8d0e6d1e76d8577a070db6d0128a91b1c9d5ad # 0.30.2
      with:
        github-token: ${{ steps.generate-token.outputs.token || inputs.github-token }}
        branch: docs/update-helm-chart-docs-${{ steps.prepare-variables.outputs.working-directory-name }}
        title: "docs: update Helm chart documentation for ${{ steps.prepare-variables.outputs.working-directory-name }}"
        body: |
          This pull request updates the documentation for the Helm chart `${{ steps.prepare-variables.outputs.working-directory-name }}`.
        commit-message: |
          docs: update Helm chart documentation for ${{ steps.prepare-variables.outputs.working-directory-name }}

          [skip ci]
