---
name: "Get image name"
description: |
  Action to forge the name of a given image including registry, repository and given input image name.
author: hoverkraft
branding:
  icon: tag
  color: blue

outputs:
  image-name:
    description: "Forged image name. Example: `my-org/my-repo/application`"
    value: ${{ steps.image-name-generator.outputs.image-name }}
  image-name-with-registry:
    description: "Forged image name containing registry. Example: `ghcr.io/my-org/my-repo/application`"
    value: ${{ steps.image-name-generator.outputs.image-name-with-registry }}

inputs:
  oci-registry:
    description: "OCI registry to prefix the image full name"
  repository:
    description: "Repository name"
    default: ${{ github.repository }}
    required: false
  image:
    description: "Additional image name"
    required: false

runs:
  using: "composite"
  steps:
    - id: image-name-generator
      shell: bash
      run: |
        REPOSITORY="$(echo "${{ inputs.repository }}" | awk '{print tolower($0)}')"
        if [ -z "$REPOSITORY" ]; then echo "Repository name is required"; exit 1; fi
        IMAGE_NAME="$REPOSITORY"

        IMAGE="${{ inputs.image }}"
        if [ -n "$IMAGE" ]; then IMAGE_NAME="$IMAGE_NAME/$IMAGE"; fi

        echo "image-name=$IMAGE_NAME" >> $GITHUB_OUTPUT

        OCI_REGISTRY="${{ inputs.oci-registry }}"
        if [ -n "$OCI_REGISTRY" ]; then IMAGE_NAME="$OCI_REGISTRY/$IMAGE_NAME"; fi

        echo "image-name-with-registry=$IMAGE_NAME" >> $GITHUB_OUTPUT
