name: Greetings

on:
  issues:
    types: [opened]
  pull_request_target:
    branches: [main]

permissions: {}

jobs:
  greetings:
    uses: hoverkraft-tech/ci-github-common/.github/workflows/greetings.yml@a8d9ca49a0e025238acd97ee3c5014f4d6525bc3 # 0.31.5
    permissions:
      contents: read
      issues: write
      pull-requests: write
