name: Internal - Main - Continuous Integration

on:
  push:
    branches: [main]
    tags: ["*"]

jobs:
  ci:
    uses: ./.github/workflows/__shared-ci.yml
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}

  release:
    needs: ci
    uses: hoverkraft-tech/ci-github-common/.github/workflows/release-actions.yml@0.4.0
    with:
      update-all: ${{ (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')) || github.event_name == 'workflow_dispatch' }}
    secrets:
      private-access-token: ${{ secrets.GH_PAT }}
