---
name: Internal - Main - Continuous Integration

on: # yamllint disable-line rule:truthy
  push:
    branches: [main]
    tags: ["*"]

  workflow_dispatch:

  schedule:
    - cron: "25 8 * * 1"

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    uses: ./.github/workflows/__shared-ci.yml
    permissions:
      actions: read
      contents: read
      issues: read
      packages: write
      pull-requests: read
      security-events: write
      statuses: write
      id-token: write
    secrets: inherit

  clean:
    needs: ci
    uses: ./.github/workflows/prune-pull-requests-images-tags.yml
    permissions:
      contents: read
      pull-requests: read
      packages: write
      id-token: write
    with:
      images: |
        [
          "application-test",
          "test-build-args-secrets",
          "test-caching-mono-arch-gha",
          "test-caching-multi-arch-gha"
        ]

  clean-with-cache:
    needs: ci
    uses: ./.github/workflows/prune-pull-requests-images-tags.yml
    permissions:
      contents: read
      pull-requests: read
      packages: write
      id-token: write
    with:
      prune-cache-images: true
      images: |
        [
          "test-caching-mono-arch-registry",
          "test-caching-multi-arch-registry"
        ]

  helm-docs:
    needs: ci
    if: github.event_name != 'schedule'
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: ./actions/helm/generate-docs
        with:
          working-directory: ./tests/charts
          github-app-id: ${{ vars.CI_BOT_APP_ID }}
          github-app-key: ${{ secrets.CI_BOT_APP_PRIVATE_KEY }}

  release:
    needs: ci
    if: github.event_name != 'schedule'
    uses: hoverkraft-tech/ci-github-publish/.github/workflows/release-actions.yml@ecafdeac18a6a6dcc01058cd53ac7431bedb5c3b # 0.14.1
    permissions:
      contents: read
    with:
      update-all: ${{ (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')) || github.event_name == 'workflow_dispatch' }}
      github-app-id: ${{ vars.CI_BOT_APP_ID }}
    secrets:
      github-app-key: ${{ secrets.CI_BOT_APP_PRIVATE_KEY }}

  sync-docs:
    needs: release
    if: github.event_name != 'schedule' && github.ref_name == github.event.repository.default_branch && needs.release.outputs.artifact-id
    uses: hoverkraft-tech/public-docs/.github/workflows/sync-docs-dispatcher.yml@c40c17f7d6a8090950b3ef4bfc70502707a6bb9f # 0.3.0
    permissions:
      contents: read
    with:
      artifact-id: ${{ needs.release.outputs.artifact-id }}
      github-app-id: ${{ vars.CI_BOT_APP_ID }}
    secrets:
      github-app-key: ${{ secrets.CI_BOT_APP_PRIVATE_KEY }}
