---
name: Internal - Main - Continuous Integration

on: # yamllint disable-line rule:truthy
  push:
    branches: [main]
    tags: ["*"]

  workflow_dispatch:

  schedule:
    - cron: "25 8 * * 1"

permissions:
  actions: write
  contents: write
  issues: read
  packages: write
  pages: write
  pull-requests: write
  security-events: write
  statuses: write
  id-token: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    uses: ./.github/workflows/__shared-ci.yml
    secrets: inherit

  clean:
    needs: ci
    uses: ./.github/workflows/prune-pull-requests-images-tags.yml
    with:
      images: |
        [
          "application-test",
          "test-multi-arch",
          "test-mono-arch"
        ]

  clean-with-cache:
    needs: ci
    uses: ./.github/workflows/prune-pull-requests-images-tags.yml
    with:
      prune-cache-images: true
      images: |
        [
          "test-build-args-secrets"
        ]

  helm-docs:
    needs: ci
    if: github.event_name != 'schedule'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: ./actions/helm/generate-docs
        with:
          working-directory: ./tests/charts
          github-app-id: ${{ vars.CI_BOT_APP_ID }}
          github-app-key: ${{ secrets.CI_BOT_APP_PRIVATE_KEY }}

  release:
    needs: ci
    if: github.event_name != 'schedule'
    uses: hoverkraft-tech/ci-github-publish/.github/workflows/release-actions.yml@6d9e5d48da1a80c085e8ed867d680a5e99b28217 # 0.8.0
    with:
      update-all: ${{ (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')) || github.event_name == 'workflow_dispatch' }}
      github-app-id: ${{ vars.CI_BOT_APP_ID }}
    secrets:
      github-app-key: ${{ secrets.CI_BOT_APP_PRIVATE_KEY }}
