---
name: "Pull Request - Semantic Lint"

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

permissions: {}

jobs:
  main:
    uses: hoverkraft-tech/ci-github-common/.github/workflows/semantic-pull-request.yml@a8d9ca49a0e025238acd97ee3c5014f4d6525bc3 # 0.31.5
    permissions:
      contents: write
      pull-requests: write
