name: Internal - Common Continuous Integration tasks

on:
  workflow_call:

jobs:
  linter:
    uses: hoverkraft-tech/ci-github-common/.github/workflows/linter.yml@0.11.2

  # test-action-docker-build-image:
  #   needs: linter
  #   uses: ./.github/workflows/__test-action-docker-build-image.yml

  # test-action-docker-prune-pull-requests-package-version:
  #   needs: linter
  #   uses: ./.github/workflows/__test-action-docker-prune-pull-requests-image-tags.yml

  # test-action-action-get-image-metadata:
  #   needs: linter
  #   uses: ./.github/workflows/__test-action-get-image-metadata.yml

  # test-action-helm-release-chart:
  #   needs: linter
  #   uses: ./.github/workflows/__test-action-helm-release-chart.yml

  # test-workflow-docker-build-images:
  #   name: Test docker build images
  #   needs: linter
  #   uses: ./.github/workflows/__test-workflow-docker-build-images.yml
