---
name: Internal - Common Continuous Integration tasks

on: # yamllint disable-line rule:truthy
  workflow_call:

permissions:
  actions: read
  contents: read
  issues: read
  packages: write
  pull-requests: read
  security-events: write
  statuses: write
  id-token: write

jobs:
  linter:
    uses: hoverkraft-tech/ci-github-common/.github/workflows/linter.yml@a8d9ca49a0e025238acd97ee3c5014f4d6525bc3 # 0.31.5

  test-action-docker-build-image:
    needs: linter
    uses: ./.github/workflows/__test-action-docker-build-image.yml

  test-action-docker-prune-pull-requests-package-version:
    needs: linter
    # yamllint disable-line rule:line-length
    uses: ./.github/workflows/__test-action-docker-prune-pull-requests-image-tags.yml

  test-action-get-image-metadata:
    needs: linter
    uses: ./.github/workflows/__test-action-get-image-metadata.yml

  test-action-action-get-image-name:
    needs: linter
    uses: ./.github/workflows/__test-action-get-image-name.yml

  test-action-helm-parse-chart-uri:
    needs: linter
    uses: ./.github/workflows/__test-action-helm-parse-chart-uri.yml

  test-action-helm-release-chart:
    needs: linter
    uses: ./.github/workflows/__test-action-helm-release-chart.yml

  test-action-helm-test-chart:
    needs: linter
    uses: ./.github/workflows/__test-action-helm-test-chart.yml

  test-workflow-docker-build-images-building:
    name: Test docker build images - Building
    needs: linter
    uses: ./.github/workflows/__test-workflow-docker-build-images-building.yml
    secrets: inherit

  test-workflow-docker-build-images-caching:
    name: Test docker build images - Caching
    needs: linter
    uses: ./.github/workflows/__test-workflow-docker-build-images-caching.yml
    secrets: inherit

  test-workflow-docker-build-images-platforms-and-signing:
    name: Test docker build images - Platforms and Signing
    needs: linter
    uses: ./.github/workflows/__test-workflow-docker-build-images-platforms-and-signing.yml
    secrets: inherit
