---
name: Mark stale issues and pull requests

on: # yamllint disable-line rule:truthy
  schedule:
    - cron: "30 1 * * *"

permissions: {}

jobs:
  main:
    uses: hoverkraft-tech/ci-github-common/.github/workflows/stale.yml@a8d9ca49a0e025238acd97ee3c5014f4d6525bc3 # 0.31.5
    permissions:
      issues: write
      pull-requests: write
