---
name: Test for "docker/prune-pull-requests-image-tags" action
run-name: Test for "docker/prune-pull-requests-image-tags" action

on: # yamllint disable-line rule:truthy
  workflow_call:

permissions:
  contents: read
  issues: read
  packages: write
  pull-requests: read
  id-token: write

env:
  IMAGE_NAME: "test-prune-${{ github.run_number }}"

jobs:
  arrange-prepare-variables:
    name: Arrange - Prepare variables
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.prepare-variables.outputs.tag }}
      packages: ${{ steps.prepare-variables.outputs.packages }}
    steps:
      - id: prepare-variables
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          SECRETS_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          script: |
            if(!process.env.SECRETS_GITHUB_TOKEN) {
              return core.setFailed("GitHub token secrets is not set");
            }

            // Generate random PR tag
            let prNumber;
            let attempt = 0;
            while(!prNumber && attempt < 5) {
              attempt++;
              prNumber = 1 + Math.floor(Math.random() * 210);
              try {
                await github.rest.pulls.get({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  pull_number: prNumber,
                });
              } catch (error) {
                if (error.status === 404) {
                  prNumber = null; // PR does not exist, try again
                } else {
                  throw error; // Other errors
                }
              }
            }
            if (!prNumber) {
              return core.setFailed("Failed to generate a valid pull request number after multiple attempts");
            }

            core.setOutput("tag", `pr-${prNumber}`);

            // Define expected packages
            const packages = [
              `ci-github-container/${process.env.IMAGE_NAME}`,
            ];

            if (github.event_name === 'workflow_dispatch' || (github.event_name === 'push' && github.ref_name !== github.event.repository.default_branch)) {
              packages.push(`ci-github-container/${process.env.IMAGE_NAME}/cache`);
            }
            core.setOutput("packages", packages.join("\n"));

  arrange-build-images:
    name: Arrange - Build images
    needs: arrange-prepare-variables
    uses: ./.github/workflows/docker-build-images.yml
    secrets:
      oci-registry-password: ${{ secrets.GITHUB_TOKEN }}
    with:
      cache-type: registry
      images: |
        [
          {
            "name": "test-prune-${{ github.run_number }}",
            "context": ".",
            "dockerfile": "./tests/application/Dockerfile",
            "build-args": { "BUILD_RUN_ID": "${{ github.run_id }}" },
            "target": "prod",
            "platforms": ["linux/amd64","linux/arm64"]
          }
        ]

  arrange-verify:
    name: Arrange - Verify built images
    runs-on: ubuntu-latest
    needs: [arrange-prepare-variables, arrange-build-images]
    permissions:
      contents: read
      packages: read
    outputs:
      base-image: ${{ steps.assert-built-images.outputs.base-image }}
    steps:
      - name: Assert - Ensure images have been built
        id: assert-built-images
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          IMAGE_NAME: ${{ env.IMAGE_NAME }}
          BUILT_IMAGES: ${{ needs.arrange-build-images.outputs.built-images }}
          PACKAGES: ${{ needs.arrange-prepare-variables.outputs.packages }}
        with:
          script: |
            const packages = process.env.PACKAGES.split("\n").map(packageName => packageName.trim()).filter(Boolean);

            for(const packageName of packages) {
              const packagePayload = {
                package_type: 'container',
                package_name: packageName,
                org: process.env.GITHUB_REPOSITORY_OWNER,
              };

              // Ensure that package exists
              const packageExists = await github.rest.packages.getPackageForOrganization(packagePayload);
              if (!packageExists) {
                return core.setFailed(`Package "${packageName}" does not exist`);
              }
            }

            // Ensure base image has been built
            const builtImagesOutput = process.env.BUILT_IMAGES;
            const builtImages = JSON.parse(builtImagesOutput);
            if (!builtImages[process.env.IMAGE_NAME] || !builtImages[process.env.IMAGE_NAME].images.length) {
              return core.setFailed(`No built images found for image name "${process.env.IMAGE_NAME}"`);
            }
            const baseImage = builtImages[process.env.IMAGE_NAME].images[0];
            await exec.exec("docker", ["pull", baseImage]);

            core.setOutput("base-image", baseImage);

  act:
    name: Act - Prune pull requests image tags
    runs-on: ubuntu-latest
    needs: [arrange-prepare-variables, arrange-build-images, arrange-verify]
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate an image tag that should be deleted
        env:
          BASE_IMAGE: ${{ needs.arrange-verify.outputs.base-image }}
          IMAGE_NAME: ${{ env.IMAGE_NAME }}
          TAG_TO_DELETE: ${{ needs.arrange-prepare-variables.outputs.tag }}
          BUILT_IMAGES: ${{ needs.arrange-build-images.outputs.built-images }}
        run: |
          NEW_IMAGE="ghcr.io/hoverkraft-tech/ci-github-container/$IMAGE_NAME:$TAG_TO_DELETE"

          docker pull "$BASE_IMAGE"
          docker tag "$BASE_IMAGE" "$NEW_IMAGE"
          docker push "$NEW_IMAGE"

      - id: prune-pull-requests-image-tags
        uses: ./actions/docker/prune-pull-requests-image-tags
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          image: ${{ env.IMAGE_NAME }}

  assert:
    name: Assert - Verify deleted image tags
    runs-on: ubuntu-latest
    needs: [arrange-prepare-variables, arrange-build-images, act]
    steps:
      - name: Assert - Ensure expected packages versions have been deleted
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          TAG_TO_DELETE: ${{ needs.arrange-prepare-variables.outputs.tag }}
          PACKAGES: ${{ needs.arrange-prepare-variables.outputs.packages }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const assert = require("assert");

            const packages = process.env.PACKAGES.split("\n").map(packageName => packageName.trim()).filter(Boolean);

            for(const packageName of packages) {
              const packagePayload = {
                package_type: 'container',
                package_name: packageName,
                org: process.env.GITHUB_REPOSITORY_OWNER,
              };

              // Ensure that package still exists
              const packageExists = await github.rest.packages.getPackageForOrganization(packagePayload);
              assert(packageExists, `Package "${packageName}" does not exist`);

              const packageVersions = await github.paginate(
                github.rest.packages.getAllPackageVersionsForPackageOwnedByOrg.endpoint.merge(packagePayload)
              );

              const packageVersionExists = packageVersions.some(
                (packageVersion) => packageVersion.metadata.container.tags.some(
                  (tag) => tag === process.env.TAG_TO_DELETE
                )
              );
              assert.equal(packageVersionExists, false, `Package version "${process.env.TAG_TO_DELETE}" has not been deleted`);
            }

      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        if: ${{ github.event_name == 'pull_request' }}
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Assert - Ensure current image tag didn't get deleted
        if: ${{ github.event_name == 'pull_request' }}
        env:
          IMAGE_NAME: ${{ env.IMAGE_NAME }}
        run: |
          for IMAGE_TAG in $(echo '${{ needs.arrange-build-images.outputs.built-images }}' | jq -r '."${{ env.IMAGE_NAME }}".images[]'); do
            docker pull "$IMAGE_TAG"

            if ! MANIFEST=$(docker manifest inspect "$IMAGE_TAG"); then
              echo "Failed to inspect manifest for image: ${IMAGE_TAG}"
              exit 1
            fi

            echo "$MANIFEST"

            # Ensure all manifests digest didn't get deleted
            for DIGEST in $(echo "$MANIFEST" | jq -r '.manifests[].digest'); do
              IMAGE_MANIFEST="ghcr.io/hoverkraft-tech/ci-github-container/$IMAGE_NAME@$DIGEST"
              docker pull "$IMAGE_MANIFEST"
              if ! docker manifest inspect "$IMAGE_MANIFEST" > /dev/null; then
                echo "Failed to inspect manifest for image: ${IMAGE_MANIFEST}"
                exit 1
              fi
            done
          done

  cleanup:
    needs: [arrange-prepare-variables, assert]
    runs-on: "ubuntu-latest"
    permissions:
      packages: write
    if: always()
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Delete test packages
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          PACKAGES: ${{ needs.arrange-prepare-variables.outputs.packages }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const packages = process.env.PACKAGES.split("\n").map(packageName => packageName.trim()).filter(Boolean);
            await Promise.all(packages.map(packageName => {
              return github.rest.packages.deletePackageForOrg({
                package_type: 'container',
                package_name: packageName,
                org: process.env.GITHUB_REPOSITORY_OWNER,
              });
            }));
