---
name: Test for "helm/release-chart" action
run-name: Test for "helm/release-chart" action

on: # yamllint disable-line rule:truthy
  workflow_call:

permissions:
  contents: read
  packages: write

jobs:
  tests:
    name: Test for "helm/release-chart" action with simple chart
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        chart:
          - name: application
            values: |
              [
                { "path": ".image.registry", "value": "ghcr.io" },
                {
                  "path": ".image.repository",
                  "value": "hoverkraft-tech/ci-github-container/application"
                },
                { "path": ".image.tag", "value": "0.1.0" }
              ]
          - name: umbrella-application
            values: |
              [
                { "file": "charts/app/values.yaml", "path": ".image.registry", "value": "ghcr.io" },
                {
                  "file": "charts/app/values.yaml",
                  "path": ".image.repository",
                  "value": "hoverkraft-tech/ci-github-container/umbrella-application"
                },
                { "file": "charts/app/values.yaml", "path": ".image.tag", "value": "0.1.0" }
              ]
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - run: |
          if [ -z "${{ github.token }}" ]; then
            echo "GitHub token is not set"
            exit 1
          fi

      - id: release-chart
        uses: ./actions/helm/release-chart
        with:
          oci-registry: ghcr.io
          oci-registry-password: ${{ github.token }}
          chart: ${{ matrix.chart.name }}-test
          path: tests/charts/${{ matrix.chart.name }}
          values: ${{ matrix.chart.values }}
          tag: 0.1.0
          helm-repositories: |
            bitnami https://charts.bitnami.com/bitnami

      # yamllint disable rule:line-length
      - name: Check release chart output
        run: |
          if [ "${{ steps.release-chart.outputs.image }}" != "ghcr.io/hoverkraft-tech/ci-github-container/charts/${{ matrix.chart.name }}-test/ci-github-container:0.1.0" ]; then
            echo "Unexpected chart image name"
            exit 1
          fi

      - uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1

      - name: Check chart status
        run: |
          echo ${{ github.token }} | helm registry login -u ${{ github.repository_owner }} --password-stdin ghcr.io
          helm pull --version "0.1.0" oci://ghcr.io/hoverkraft-tech/ci-github-container/charts/${{ matrix.chart.name }}-test/ci-github-container
        env:
          HELM_EXPERIMENTAL_OCI: "1"
    # yamllint enable rule:line-length
