---
name: Test for "helm/test-chart" action
run-name: Test for "helm/test-chart" action

on: # yamllint disable-line rule:truthy
  workflow_call:

permissions:
  contents: read
  issues: read
  packages: write
  pull-requests: read
  id-token: write

jobs:
  build-test-images:
    uses: ./.github/workflows/docker-build-images.yml
    secrets:
      oci-registry-password: ${{ secrets.GITHUB_TOKEN }}
    with:
      images: |
        [
          {
            "name": "application-test",
            "context": ".",
            "dockerfile": "./tests/application/Dockerfile",
            "target": "prod",
            "platforms": ["linux/amd64"],
            "tag": "0.1.0"
          }
        ]

  test-lint-and-install:
    name: Test for "helm/test-chart" action
    needs: build-test-images
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - id: test-chart
        uses: ./actions/helm/test-chart
        with:
          check-diff-only: false
          helm-set: |
            image.tag=${{ fromJson(needs.build-test-images.outputs.built-images).application-test.tags[0] }}
            image.digest=${{ fromJson(needs.build-test-images.outputs.built-images).application-test.digest }}
          helm-repositories: |
            bitnami https://charts.bitnami.com/bitnami
          oci-registry: ghcr.io
          oci-registry-username: ${{ github.repository_owner }}
          oci-registry-password: ${{ secrets.GITHUB_TOKEN }}
