---
name: Test for "docker/build-image" action
run-name: Test for "docker/build-image" action

on: # yamllint disable-line rule:truthy
  workflow_call:

permissions: {}

# jscpd:ignore-start
jobs:
  tests:
    name: Test for "docker/build-image" action
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Arrange - Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Arrange - Ensure token is set
        run: |
          if [ -z "${{ github.token }}" ]; then
            echo "GitHub token is not set"
            exit 1
          fi

      - name: Act - Build image
        id: build-image
        uses: ./actions/docker/build-image
        with:
          oci-registry: ghcr.io
          oci-registry-password: ${{ github.token }}
          context: "."
          dockerfile: "./tests/application/Dockerfile"
          target: "prod"
          platform: "linux/amd64"
          image: application-test

      - name: Assert - Check built image output
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const assert = require("assert");

            const builtImageOutput = ${{ toJSON(steps.build-image.outputs.built-image) }};
            assert(builtImageOutput, `"built-image" output is empty`);

            let builtImage;
            try {
              builtImage = JSON.parse(builtImageOutput);
            } catch (error) {
              assert.fail(`Failed to parse built image output: ${error}`);
            }

            assert(builtImage, `"built-image" output is empty`);

            assert.equal(builtImage.name, "application-test", `"name" output is not valid`);
            assert.equal(builtImage.registry, "ghcr.io", `"registry" output is not valid`);
            assert.equal(
              builtImage.repository,
              "hoverkraft-tech/ci-github-container/application-test",
              `"repository" output is not valid`
            );
            assert.match(
              builtImage.digest,
              /^sha256:[a-f0-9]{64}$/,
              `"digest" output is not valid`
            );
            assert.equal(builtImage.image, `ghcr.io/hoverkraft-tech/ci-github-container/application-test@${builtImage.digest}`, `"image" output is not valid`);

            // Annotations
            assert.match(
              builtImage.annotations["org.opencontainers.image.created"],
              /[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}\.[0-9]{3}Z/,
              `"annotations.org.opencontainers.image.created" output is not valid`
            );
            assert.equal(
              builtImage.annotations["org.opencontainers.image.description"],
              "Opinionated GitHub Actions and workflows for continuous integration in container (OCI) context",
              `"org.opencontainers.image.description" output is not valid`
            );
            assert.equal(
              builtImage.annotations["org.opencontainers.image.licenses"],
              "MIT",
              `"annotations.org.opencontainers.image.licenses" output is not valid`
            );
            assert.match(
              builtImage.annotations["org.opencontainers.image.revision"],
              /^[a-f0-9]{40}$/,
              `"annotations.org.opencontainers.image.revision" output is not valid`
            );
            assert.equal(
              builtImage.annotations["org.opencontainers.image.source"],
              "https://github.com/hoverkraft-tech/ci-github-container",
              `"annotations.org.opencontainers.image.source" output is not valid`
            );
            assert.equal(
              builtImage.annotations["org.opencontainers.image.title"],
              "ci-github-container",
              `"annotations.org.opencontainers.image.title" output is not valid`
            );
            assert.equal(
              builtImage.annotations["org.opencontainers.image.url"],
              "https://github.com/hoverkraft-tech/ci-github-container",
              `"annotations.org.opencontainers.image.url" output is not valid`
            );

            const expectedTags = [];
            let expectedImageVersion;
            if (`${{ github.event_name }}` === "pull_request") {
              const shortSha = `${{ github.sha }}`.substring(0, 7);
              const prShaTag = `pr-${{ github.event.pull_request.number }}-${shortSha}`;
              const prTag = `pr-${{ github.event.pull_request.number }}`;

              expectedTags.push(prShaTag, prTag);
              expectedImageVersion = prTag;
            } else {
              const refTag = `${{ github.ref_name }}`;
              expectedTags.push(refTag);
              expectedImageVersion = refTag;

              const isTag = `${{ github.ref }}`.startsWith('refs/tags/');
              const isPushOnDefaultBranch = `${{ github.event_name }}` === "push" && !isTag && refTag === "${{ github.event.repository.default_branch }}";

              if (isPushOnDefaultBranch) {
                expectedTags.push("latest");
              }
            }

            assert.equal(
              builtImage.tags.length,
              expectedTags.length,
              `"tags" output is not valid, expected ${expectedTags.length} tags but got ${builtImage.tags.length}`
            );

            for (const expectedTag of expectedTags) {
              if (!builtImage.tags.includes(expectedTag)) {
                assert.fail(`Expected tag "${expectedTag}" not found in "tags" output`);
              }
            }

            assert.equal(
              builtImage.annotations["org.opencontainers.image.version"],
              expectedImageVersion,
              `"annotations.org.opencontainers.image.version" output is not valid`
            );

      - uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}

      - name: Assert - Check docker image
        run: |
          IMAGE=$(echo '${{ steps.build-image.outputs.built-image }}' | jq -r '.image')
          if ! docker pull "$IMAGE"; then
            echo "Failed to pull $IMAGE"
            exit 1
          fi

          if ! docker manifest inspect "$IMAGE"; then
            echo "Failed to inspect $IMAGE"
            exit 1
          fi

  tests-with-given-tag:
    name: Test for "docker/build-image" action with given tag
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Arrange - Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Arrange - Ensure token is set
        run: |
          if [ -z "${{ github.token }}" ]; then
            echo "GitHub token is not set"
            exit 1
          fi

      - name: Act - Build image
        id: build-image
        uses: ./actions/docker/build-image
        with:
          oci-registry: ghcr.io
          oci-registry-password: ${{ github.token }}
          context: "."
          dockerfile: "./tests/application/Dockerfile"
          target: "prod"
          platform: "linux/amd64"
          image: application-test
          tag: "0.1.0"

      - name: Assert - Check built image output
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const assert = require("assert");

            const builtImageOutput = ${{ toJSON(steps.build-image.outputs.built-image) }};
            assert(builtImageOutput, `"built-image" output is empty`);

            let builtImage;
            try {
              builtImage = JSON.parse(builtImageOutput);
            } catch (error) {
              assert.fail(`Failed to parse built image output: ${error}`);
            }

            assert(builtImage, `"built-image" output is empty`);

            const expectedTags = ['0.1.0'];
            assert.equal(
              builtImage.tags.length,
              expectedTags.length,
              `"tags" output is not valid, expected ${expectedTags.length} tag but got ${builtImage.tags.length}`
            );

            for (const expectedTag of expectedTags) {
              if (!builtImage.tags.includes(expectedTag)) {
                assert.fail(`Expected tag "${expectedTag}" not found in "tags" output`);
              }
            }

      - uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}

      - name: Assert - Check docker image
        run: |
          IMAGE=$(echo '${{ steps.build-image.outputs.built-image }}' | jq -r '.image')
          if ! docker pull "$IMAGE"; then
            echo "Failed to pull $IMAGE"
            exit 1
          fi

          if ! docker manifest inspect "$IMAGE"; then
            echo "Failed to inspect $IMAGE"
            exit 1
          fi

# jscpd:ignore-end
