# Docker build images
# ==========================
# Workflow to build multiple docker images.
# Build images using [Docker build image](https://github.com/hoverkraft-tech/ci-github-container/blob/main/actions/docker/build-image/README.md)
# This includes [multi-platform](https://docs.docker.com/build/building/multi-platform/) build

name: Docker build images

on:
  workflow_call:
    outputs:
      built-images:
        description: 'Built images names and tags. Example: {
          "application": {
          "name": "application",
          "registry": "ghcr.io",
          "repository": "my-org/my-repo/application",
          "tags": ["pr-63", "pr-63-5222075"],
          "images": ["ghcr.io/my-org/my-repo/application:pr-63","ghcr.io/my-org/my-repo/application:pr-63-5222075"],
          "platforms":[
          {"name":"application","images":["ghcr.io/my-org/my-repo/application:pr-63-linux-arm64"],"tagSuffix":"-linux-arm64","platform":"linux/arm64"},
          {"name":"application","images":["ghcr.io/my-org/my-repo/application:pr-63-linux-amd64"],"tagSuffix":"-linux-amd64","platform":"linux/amd64"}]
          }
          }
          }'
        value: ${{ jobs.outputs-built-images.outputs.built-images }}
    inputs:
      oci-registry:
        description: "OCI registry where to pull and push images"
        type: string
        default: "ghcr.io"
        required: false
      oci-registry-username:
        description: "Username used to log against the OCI registry. See https://github.com/docker/login-action#usage"
        type: string
        default: ${{ github.repository_owner }}
        required: false
      images:
        description: 'Images to build parameters. Example: [{
          "name": "application",
          "context": ".",
          "dockerfile": "./docker/application/Dockerfile",
          "build-args": { "APP_PATH": "./application/", "PROD_MODE": "true" },
          "target": "prod",
          "platforms": ["linux/amd64","linux/arm64","linux/arm/v7"]
          }]'
        type: string
        required: true
    secrets:
      oci-registry-password:
        description: "Password or GitHub token (packages:read and packages:write scopes) used to log against the OCI registry. See https://github.com/docker/login-action#usage"
        required: true

jobs:
  prepare-variables:
    outputs:
      images: ${{ steps.validate-inputs.outputs.images }}
      artifact-name: ${{ steps.define-artifact-name.outputs.artifact-name }}
    runs-on: "ubuntu-latest"
    steps:
      - id: validate-inputs
        uses: actions/github-script@v6.4.1
        with:
          script: |
            const ociRegistryPassword = `${{ secrets.oci-registry-password }}`;
            if (!ociRegistryPassword) {
              throw new Error(`"oci-registry-password" secret is missing`);
            }

            const imagesInput = `${{ inputs.images }}`;

            // Check if is valid Json
            let images = null;
            try {
              images = JSON.parse(imagesInput);
            } catch (error) {
              throw new Error(`"images" input is not a valid JSON: ${error}`);
            }

            // Check if is an array
            if (!Array.isArray(images)) {
              throw new Error(`"images" input is not an array`);
            }

            // Check each item
            const imagesByPlatform = [];
            for (const key in images) {
              const image = images[key];
              if (typeof image !== 'object') {
                throw new Error(`"images[${key}]" input is not an object`);
              }

              // Check mandatory properties
              for (const property of ['name', 'platforms']) {
                if (!image.hasOwnProperty(property)) {
                  throw new Error(`"images[${key}].${property}" input is missing`);
                }
              }

              // Format build-args object to string
              if(image['build-args']){
                const buildArgs = Object.keys(image['build-args']).map(key => `${key}=${image['build-args'][key]}`).join('\n');
                image['build-args'] = buildArgs;
              }

              // Add image for each platform
              for (const platform of image['platforms']) {
                const imageByPlatform = {
                  ...image,
                  platform: platform
                };
                imagesByPlatform.push(imageByPlatform);
              }
            }

            core.setOutput('images', JSON.stringify(imagesByPlatform));

      - id: define-artifact-name
        uses: actions/github-script@v6.4.1
        with:
          script: |
            function uniqid(prefix = "") {
                const sec = Date.now() * 1000 + Math.random() * 1000;
                const id = sec.toString(16).replace(/\./g, "").padEnd(14, "0");
                return `${prefix}${id}`;
            };

            core.setOutput('artifact-name', uniqid("build-images-"));

  build-images:
    name: Build image ${{ matrix.image.name }} for ${{ matrix.image.platform }}
    needs: prepare-variables
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
      matrix:
        image: ${{ fromJson(needs.prepare-variables.outputs.images) }}
    permissions:
      contents: read
      pull-requests: read
      issues: read
      packages: write
      # FIXME: This is a workaround for having workflow actions. See https://github.com/orgs/community/discussions/38659
      id-token: write
    steps:
      # FIXME: This is a workaround for having workflow actions. See https://github.com/orgs/community/discussions/38659
      - id: oidc
        uses: ChristopherHX/oidc@v2
      - uses: actions/checkout@v4
        with:
          path: ./self-workflow
          repository: ${{ steps.oidc.outputs.job_workflow_repo_name_and_owner }}
          ref: ${{ steps.oidc.outputs.job_workflow_repo_ref }}
      - run: |
          echo "self-workflow" >> .gitignore
          echo "self-workflow" >> .dockerignore

      - id: build
        uses: ./self-workflow/actions/docker/build-image
        with:
          oci-registry: ${{ inputs.oci-registry }}
          oci-registry-username: ${{ inputs.oci-registry-username }}
          oci-registry-password: ${{ secrets.oci-registry-password }}
          tag: ${{ matrix.image.tag }}
          image: ${{ matrix.image.name }}
          context: ${{ matrix.image.context }}
          dockerfile: ${{ matrix.image.dockerfile }}
          build-args: ${{ matrix.image.build-args }}
          target: ${{ matrix.image.target }}
          platform: ${{ matrix.image.platform }}

      - id: outputs-built-image
        uses: actions/github-script@v6.4.1
        with:
          script: |
            const builtImage = {
              "name": "${{ matrix.image.name }}",
              "images": ${{ steps.build.outputs.images }},
              "tagSuffix": "${{ steps.build.outputs.tag-suffix }}",
              "platform": "${{ matrix.image.platform }}"
            };
            core.setOutput("built-image", JSON.stringify(builtImage));

      # FIXME: Set built images infos in file to be uploaded as artifacts, because github action does not handle job outputs for matrix
      # https://github.com/orgs/community/discussions/26639
      - uses: hoverkraft-tech/ci-github-common/actions/set-matrix-output@0.7.2
        with:
          artifact-name: ${{ needs.prepare-variables.outputs.artifact-name }}
          value: ${{ steps.outputs-built-image.outputs.built-image }}

      # FIXME: This is a workaround for having workflow actions. See https://github.com/orgs/community/discussions/38659
      - uses: actions/checkout@v4
        with:
          path: ./self-workflow
          repository: ${{ steps.oidc.outputs.job_workflow_repo_name_and_owner }}
          ref: ${{ steps.oidc.outputs.job_workflow_repo_ref }}

  outputs-built-images:
    needs: [prepare-variables, build-images]
    runs-on: "ubuntu-latest"
    outputs:
      built-images: ${{ steps.generate-outputs.outputs.built-images }}
    permissions:
      contents: read
      packages: write
      # FIXME: This is a workaround for having workflow ref. See https://github.com/orgs/community/discussions/38659
      id-token: write
    steps:
      - id: get-matrix-outputs
        uses: hoverkraft-tech/ci-github-common/actions/get-matrix-outputs@0.7.2
        with:
          artifact-name: ${{ needs.prepare-variables.outputs.artifact-name }}

      - id: generate-outputs
        uses: actions/github-script@v6.4.1
        with:
          script: |
            const registry = `${{ inputs.oci-registry }}`;
            const images = ${{ inputs.images }};
            const allBuiltImages = ${{ steps.get-matrix-outputs.outputs.result }};

            const builtImages = {};
            images.forEach(({ name, platforms }) => {
              // Get built images for current image
              const platformBuiltImages = allBuiltImages.filter(({ name: builtImageName }) => builtImageName === name);
              if (!platformBuiltImages.length) {
                throw new Error(`No built image found for image "${name}"`);
              }

              const firstPlatform = platforms[0];
              const firstPlatformImage = platformBuiltImages.find(({ platform }) => platform === firstPlatform);
              if (!firstPlatformImage) {
                throw new Error(`No built image found for platform "${firstPlatform}"`);
              }

              // Get generic images
              const taxSuffixMatcher = new RegExp(firstPlatformImage.tagSuffix+'$')
              const genericImages = firstPlatformImage.images.map(image => image.replace(taxSuffixMatcher, ''));

              const repository = genericImages[0].replace(/[^\/]+\/([^:]+):.+/,'$1');
              const tags = genericImages.map(tag => tag.replace(/[^\/]+\/[^:]+:(.+)/,'$1'));

              const builtImage = {
                name,
                registry,
                repository,
                tags,
                images: genericImages,
                platforms: platformBuiltImages,
              };

              builtImages[name] = builtImage;
            });

            core.setOutput('built-images', JSON.stringify(builtImages));

        # FIXME: This is a workaround for having workflow ref. See https://github.com/orgs/community/discussions/38659
      - id: oidc
        uses: ChristopherHX/oidc@v2
      - uses: actions/checkout@v4 # checks out called workflow
        with:
          path: ./self-workflow
          repository: ${{ steps.oidc.outputs.job_workflow_repo_name_and_owner }}
          ref: ${{ steps.oidc.outputs.job_workflow_repo_ref }}
      - name: ignore self-worfklow changes
        run: |
          echo "self-workflow" >> .gitignore
          echo "self-workflow" >> .dockerignore

      - uses: ./self-workflow/actions/docker/create-images-manifests
        with:
          oci-registry: ${{ inputs.oci-registry }}
          oci-registry-username: ${{ inputs.oci-registry-username }}
          oci-registry-password: ${{ secrets.oci-registry-password }}
          built-images: ${{ steps.generate-outputs.outputs.built-images }}
