# Prune pull requests images tags
# ==========================
# Workflow to performs a clean of closed pull requests images tags.
# See [prune-pull-requests-image-tags](../../actions/docker/prune-pull-requests-image-tags/README.md) for more information.
---
name: Prune pull requests images tags

on: # yamllint disable-line rule:truthy
  workflow_call:
    # checkov:skip=CKV_GHA_7: required
    inputs:
      runs-on:
        description: |
          Json array of runner(s) to use.
          See <https://docs.github.com/en/actions/using-jobs/choosing-the-runner-for-a-job>.
        type: string
        default: '["ubuntu-latest"]'
        required: false
      images:
        description: 'Images to clean. Example: ["application-1","application-2"]'
        type: string
        required: true
      prune-cache-images:
        description: 'Prune cache image tags (like "application-1/cache"). Useful when building image with "registry" cache backend.'
        type: boolean
        default: false
        required: false
      pull-request-tag-filter:
        description: |
          The regular expression to match pull request tags.
          Must have a capture group for the pull request number.
        default: "^pr-([0-9]+)(?:-|$)"
        type: string
        required: false

permissions:
  contents: read
  pull-requests: read
  packages: write
  # FIXME: This is a workaround for having workflow actions. See https://github.com/orgs/community/discussions/38659
  id-token: write

jobs:
  prepare-variables:
    outputs:
      images: ${{ steps.validate-inputs.outputs.images }}
    runs-on: ${{ fromJson(inputs.runs-on) }}
    steps:
      - id: validate-inputs
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        with:
          script: |
            // jscpd:ignore-start
            const imagesInput = `${{ inputs.images }}`;

            // Check if is valid Json
            let images = null;
            try {
              images = JSON.parse(imagesInput);
            } catch (error) {
              throw new Error(`"images" input is not a valid JSON: ${error}`);
            }

            // Check if is an array
            if (!Array.isArray(images)) {
              throw new Error(`"images" input is not an array`);
            }
            // jscpd:ignore-end

            // Check each item
            for (const key in images) {
              const image = images[key];
              if (typeof image !== 'string') {
                throw new Error(`"images[${key}]" input is not a string`);
              }
            }

            if (${{ inputs.prune-cache-images }}) {
              images = [...images, ...images.map((image) => `${image}/cache`)];
            }

            core.setOutput('images', JSON.stringify([...new Set(images)]));

  prune-pull-requests-image-tags:
    name: Prune pull requests image tags for ${{ matrix.image }}
    needs: prepare-variables
    runs-on: ${{ fromJson(inputs.runs-on) }}
    strategy:
      fail-fast: false
      matrix:
        image: ${{ fromJson(needs.prepare-variables.outputs.images) }}
    permissions:
      contents: read
      pull-requests: read
      packages: write
      # FIXME: This is a workaround for having workflow actions. See https://github.com/orgs/community/discussions/38659
      id-token: write
    steps:
      # FIXME: This is a workaround for having workflow actions. See https://github.com/orgs/community/discussions/38659
      - id: oidc
        uses: ChristopherHX/oidc@73eee1ff03fdfce10eda179f617131532209edbd # v3
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          path: ./self-workflow
          repository: ${{ steps.oidc.outputs.job_workflow_repo_name_and_owner }}
          ref: ${{ steps.oidc.outputs.job_workflow_repo_ref }}
          sparse-checkout: |
            actions

      - id: build
        uses: ./self-workflow/actions/docker/prune-pull-requests-image-tags
        with:
          image: ${{ matrix.image }}
          pull-request-tag-filter: ${{ inputs.pull-request-tag-filter }}
