# Workflow to performs a clean of closed pull requests images tags.
# See [prune-pull-requests-image-tags](../../actions/docker/prune-pull-requests-image-tags/README.md) for more information.
---
name: Prune pull requests images tags

on: # yamllint disable-line rule:truthy
  workflow_call:
    # checkov:skip=CKV_GHA_7: required
    inputs:
      runs-on:
        description: |
          JSON array of runner(s) to use.
          See https://docs.github.com/en/actions/using-jobs/choosing-the-runner-for-a-job.
        type: string
        default: '["ubuntu-latest"]'
        required: false
      images:
        description: |
          Images to clean.
          Example:
          ```json
            ["application-1","application-2"]
          ```
        type: string
        required: true
      prune-cache-images:
        description: |
          Prune cache image tags (like `application-1/cache`).
          Useful when building image with "registry" cache backend.
        type: boolean
        default: false
        required: false
      pull-request-tag-filter:
        description: |
          The regular expression to match pull request tags.
          Must have a capture group for the pull request number.
        default: "^pr-([0-9]+)(?:-|$)"
        type: string
        required: false

permissions: {}

jobs:
  prepare-variables:
    outputs:
      images: ${{ steps.validate-inputs.outputs.images }}
    runs-on: ${{ fromJson(inputs.runs-on) }}
    steps:
      - id: validate-inputs
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            // jscpd:ignore-start
            const imagesInput = `${{ inputs.images }}`;

            // Check if is valid Json
            let images = null;
            try {
              images = JSON.parse(imagesInput);
            } catch (error) {
              throw new Error(`"images" input is not a valid JSON: ${error}`);
            }

            // Check if is an array
            if (!Array.isArray(images)) {
              throw new Error(`"images" input is not an array`);
            }
            // jscpd:ignore-end

            // Check each item
            for (const key in images) {
              const image = images[key];
              if (typeof image !== 'string') {
                throw new Error(`"images[${key}]" input is not a string`);
              }
            }

            if (${{ inputs.prune-cache-images }}) {
              images = [...images, ...images.map((image) => `${image}/cache`)];
            }

            core.setOutput('images', JSON.stringify([...new Set(images)]));

  prune-pull-requests-image-tags:
    name: Prune pull requests image tags for ${{ matrix.image }}
    needs: prepare-variables
    runs-on: ${{ fromJson(inputs.runs-on) }}
    strategy:
      fail-fast: false
      matrix:
        image: ${{ fromJson(needs.prepare-variables.outputs.images) }}
    permissions:
      contents: read
      pull-requests: read
      packages: write
      id-token: write # Needed for getting local workflow actions
    steps:
      - id: local-workflow-actions
        uses: hoverkraft-tech/ci-github-common/actions/local-workflow-actions@666b7b6eb000db3e8614647871fa60c9f1eb7179 # 0.31.4
        with:
          actions-path: actions

      - id: build
        uses: ./self-workflow/actions/docker/prune-pull-requests-image-tags
        with:
          image: ${{ matrix.image }}
          pull-request-tag-filter: ${{ inputs.pull-request-tag-filter }}

      - uses: hoverkraft-tech/ci-github-common/actions/local-workflow-actions@666b7b6eb000db3e8614647871fa60c9f1eb7179 # 0.31.4
        if: always() && steps.local-workflow-actions.outputs.repository
        with:
          actions-path: actions
          repository: ${{ steps.local-workflow-actions.outputs.repository }}
          ref: ${{ steps.local-workflow-actions.outputs.ref }}
